<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants/>
	<permissions/>
	<actions>
		<action name="dispGoogleotpAdminConfig" type="view" menu_name="googleotp" admin_index="true"/>
		<action name="dispGoogleotpAdminMemberList" type="view" />
		<action name="dispGoogleotpAdminMemberSetup" type="view" />
		<action name="dispGoogleotpAdminAuthList" type="view" />
		<action name="dispGoogleotpAdminAuthSendList" type="view" />
		<action name="dispGoogleotpAdminTrustedDeviceList" type="view" />
		
		<action name="procGoogleotpAdminInsertConfig" type="controller"/>
		<action name="procGoogleotpAdminUpdateConfig" type="controller" />
		<action name="procGoogleotpAdminDeleteTrustedDevice" type="controller" />

		<action name="dispGoogleotpUserConfig" route="TWAConfig" type="view"/>
		<action name="dispGoogleotpInputotp" route="TWACheck" type="view"/>
		<action name="dispGoogleotpTrustedDevices" route="TWATrustedDevices" type="view"/>
	
		<action name="procGoogleotpUserConfig" type="controller"/>
		<action name="procGoogleotpInputotp" type="controller"/>
		<action name="procGoogleotpResendauthmessage" type="controller" />
		<action name="procGoogleotpDeleteTrustedDevice" type="controller" />
		<action name="procGoogleotpDeleteAllTrustedDevices" type="controller" />

		<action name="procGoogleotpPasskeyRegisterChallenge" type="controller" />
		<action name="procGoogleotpPasskeyRegister" type="controller" />
		<action name="procGoogleotpPasskeyLoginChallenge" type="controller" />
		<action name="procGoogleotpPasskeyAuthenticate" type="controller" />
		<action name="procGoogleotpDeletePasskey" type="controller" />
	</actions>
	<menus>
		<menu name="googleotp" type="all">
			<title xml:lang="ko">Rhymix GoogleOTP Module</title>
			<title xml:lang="en">Rhymix GoogleOTP Module</title>
		</menu>
	</menus>
</module>
