<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
        <action name="dispGoogleotpAdminConfig" type="view" admin_index="true" menu_name="menu_googleotp" menu_index="true" />
        <action name="dispGoogleotpUserConfig" type="view" />
        <action name="procGoogleotpUserConfig" type="controller" />
        <action name="dispGoogleotpInputotp" type="view" />
        <action name="procGoogleotpInputotp" type="controller" />
    </actions>
    <menus>
        <menu name="menu_googleotp" type="all">
            <title xml:lang="ko">XE GoogleOTP Module</title>
            <title xml:lang="en">XE GoogleOTP Module</title>
        </menu>
    </menus>
</module>
