<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants/>
	<permissions/>
	<actions>
		<action name="dispGoogleotpAdminConfig" type="view" menu_name="googleotp" admin_index="true"/>
		<action name="procGoogleotpAdminInsertConfig" type="controller"/>

		<action name="dispGoogleotpUserConfig" type="view"/>
		<action name="dispGoogleotpInputotp" type="view"/>
	
		<action name="procGoogleotpUserConfig" type="controller"/>
		<action name="procGoogleotpInputotp" type="controller"/>
	</actions>
	<menus>
		<menu name="googleotp" type="all">
			<title xml:lang="ko">XE GoogleOTP Module</title>
			<title xml:lang="en">XE GoogleOTP Module</title>
		</menu>
	</menus>
</module>
